.LikeBar {
  display: flex;
  align-items: center;
  height: 30px;
}

.LikeBar button {
  cursor: pointer;
  color: #d00;
  border: none;
  font-size: 1rem;
}

.LikeBar button:hover {
  color: #f00;
}

#numOfLikes {
  font-size: 1rem;
}
